.nav-background {
    background-color: rgb(33, 3, 82) !important;
}

.nav-logo {
    height: 80px !important;
}

#v1 {
    position: relative;
    top: -200px;
    width: 100%;
}

.blank {
    background-image: linear-gradient( rgb(255, 255, 255), rgb(255, 255, 255) );
}

.image-container {
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    overflow-x: auto;
    gap: 10px;
}

.brand_1{
    width : 50%;
    height : 50%;
    background-color: rgb(255, 255, 255);
    /* display: flex;
    justify-content: center; */
    font-family: 'arial';
}

